In [ ]:
import numpy as np
import pandas as pd

# irarxix indekslash 
## muti indexlash

In [ ]:
data= pd.Series(np.random.randn(9), index = ['a','a','a','b','b','c','c','d','d'])

In [ ]:
data.index # indexni chiqarish

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [ ]:
data1 = pd.Series(np.random.randn(9), index = [['a','a','a','b','b','c','c','d','d'],[1,2,3,3,2,1,2,2,3]])
# irarxik indexni chop qiladi

In [ ]:
data

a   -0.453305
a   -0.376874
a   -0.123695
b    0.763489
b    1.090246
c   -0.667371
c    0.305276
d    0.064473
d   -0.329523
dtype: float64

In [ ]:
data1

a  1   -1.220298
   2    0.457142
   3    0.083710
b  3    0.855420
   2   -0.374742
c  1   -0.674836
   2    0.015980
d  2   -1.124247
   3    2.431716
dtype: float64

In [ ]:
data1.index

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 3),
            ('b', 2),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [ ]:
data2 = data1.unstack() # Pd dagi Seriesni Dataframe korinishda o'tqizadi 
data2

          1         2         3
a -1.220298  0.457142  0.083710
b       NaN -0.374742  0.855420
c -0.674836  0.015980       NaN
d       NaN -1.124247  2.431716

In [ ]:
data2.stack() # dataframeni Series ko'rinishda o'tqizadi

a  1   -1.220298
   2    0.457142
   3    0.083710
b  2   -0.374742
   3    0.855420
c  1   -0.674836
   2    0.015980
d  2   -1.124247
   3    2.431716
dtype: float64

In [ ]:
data1['a'] # subsetlari bilan kesib olib beradi

1   -1.220298
2    0.457142
3    0.083710
dtype: float64

In [ ]:
data1.loc[:,2] # barcha 2 indexli ma'lumotlarimizni kesib oladi

a    0.457142
b   -0.374742
c    0.015980
d   -1.124247
dtype: float64

In [ ]:
data1.loc[['b','c']] # barcha b va c dagi ma'lumotlarimizni chop qilib oladi

b  3    0.855420
   2   -0.374742
c  1   -0.674836
   2    0.015980
dtype: float64

# .stack() va unstack() Dataframe ma'lumotlar

In [ ]:
data2 = data1.unstack() # bu  Series ma'lumot turidan Dataframe malumotlarga turiga o'tqazadi

In [ ]:
data2.stack() # bu Dataframedan Seriesga o'tqizadi

a  1   -1.220298
   2    0.457142
   3    0.083710
b  2   -0.374742
   3    0.855420
c  1   -0.674836
   2    0.015980
d  2   -1.124247
   3    2.431716
dtype: float64

# Dunyo shaharlarining hava suv sifati ma'lumotlari

In [ ]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), done.

In [ ]:
df = pd.read_csv('Practicum_Datasets/world_cities_air_water_quality.csv')

In [ ]:
df.head(
    
)

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [ ]:
df.describe()

        "AirQuality"   "WaterPollution"
count    3963.000000        3963.000000
mean       62.253452          44.635372
std        30.944753          25.663910
min         0.000000           0.000000
25%        37.686567          25.000000
50%        69.444444          50.000000
75%        87.500000          57.719393
max       100.000000         100.000000

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3963 entries, 0 to 3962
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   City               3963 non-null   object
 1    "Region"          3963 non-null   object
 2    "Country"         3963 non-null   object
 3    "AirQuality"      3963 non-null   float64
 4    "WaterPollution"  3963 non-null   float64
dtypes: float64(2), object(3)
memory usage: 154.9+ KB

In [ ]:
df.head(
    
)

,City,"""Region""","""Country""","""AirQuality""","""WaterPollution"""
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [ ]:
columns = ['City','Region','Country','AirQuality','WaterPollution']
df.columns = columns

In [ ]:
df.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,"""New York""","""United States of America""",46.816038,49.504950
1,"Washington, D.C.","""District of Columbia""","""United States of America""",66.129032,49.107143
2,San Francisco,"""California""","""United States of America""",60.514019,43.000000
3,Berlin,"""""","""Germany""",62.364130,28.612717
4,Los Angeles,"""California""","""United States of America""",36.621622,61.299435

In [ ]:
df['Region']=df['Region'].map(lambda x: x.replace('"'," "))

In [ ]:
df['Country']=df['Country'].map(lambda x: x.replace('"'," "))

In [ ]:
df.head(
    
)

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [ ]:
df.to_csv('update.csv', index=False)

In [ ]:
df1  =pd.read_csv('update.csv')

In [ ]:
df1.head()

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [ ]:
df.head(
    
)

,City,Region,Country,AirQuality,WaterPollution
0,New York City,New York,United States of America,46.816038,49.504950
1,"Washington, D.C.",District of Columbia,United States of America,66.129032,49.107143
2,San Francisco,California,United States of America,60.514019,43.000000
3,Berlin,,Germany,62.364130,28.612717
4,Los Angeles,California,United States of America,36.621622,61.299435

In [ ]:
df['Country']=df['Country'].map(lambda x: x.strip()) # strip bu bo'sh joyni olib tashlaydi

In [ ]:
df['Country'][3]

'Germany'

In [ ]:
df[df['Country']=='Uzbekistan']

        City Region     Country  AirQuality  WaterPollution
21  Tashkent         Uzbekistan   56.451613       49.166667

In [ ]:
df1 = pd.pivot_table(df, index=['Country','City']) # pivot teble indexlarni irarxik indexga o'tqizadi

In [ ]:
df1.head()

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000

In [ ]:
df.index

RangeIndex(start=0, stop=3963, step=1)

In [ ]:
df1.index

MultiIndex([('Afghanistan',        'Andkhoy'),
            ('Afghanistan',          'Farah'),
            ('Afghanistan',          'Herat'),
            ('Afghanistan',          'Kabul'),
            ('Afghanistan',       'Kandahar'),
            ('Afghanistan', 'Mazar-i-Sharif'),
            (    'Albania',         'Ballsh'),
            (    'Albania',         'Burrel'),
            (    'Albania',         'Durres'),
            (    'Albania',        'Elbasan'),
            ...
            (      'Yemen',          'Sanaa'),
            (      'Yemen',         'Ta'izz'),
            (     'Zambia',       'Chingola'),
            (     'Zambia',          'Kitwe'),
            (     'Zambia',         'Lusaka'),
            (     'Zambia',          'Mansa'),
            (   'Zimbabwe',        'Bindura'),
            (   'Zimbabwe',       'Bulawayo'),
            (   'Zimbabwe',         'Harare'),
            (   'Zimbabwe',       'Masvingo')],
           names=['Country', 'City'], length=3895)

In [ ]:
df1.loc[['Uzbekistan','Germany']]

                          AirQuality  WaterPollution
Country    City
Uzbekistan Tashkent        56.451613       49.166667
Germany    Aachen          70.454545       17.857143
           Aalen           87.500000       50.000000
           Abensberg      100.000000       50.000000
           Amberg         100.000000       50.000000
...                              ...             ...
           Wilhelmshaven  100.000000       50.000000
           Wolfsburg       96.875000        0.000000
           Worms           60.000000      100.000000
           Wuppertal       90.000000        0.000000
           Zwickau         75.000000       50.000000

[125 rows x 2 columns]

# ustunlarni irarxik ko'rinishda o'tqazish

In [ ]:
df2 = df1.copy()

In [ ]:
df2.head()

                      AirQuality  WaterPollution
Country     City
Afghanistan Andkhoy    50.000000       50.000000
            Farah     100.000000        0.000000
            Herat      43.750000       31.250000
            Kabul      18.421053       81.060606
            Kandahar    0.000000       75.000000

In [ ]:
df2['AirPolution'] = 100-df2['AirQuality']

In [ ]:
df2

                      AirQuality  WaterPollution  AirPolution
Country     City
Afghanistan Andkhoy    50.000000       50.000000    50.000000
            Farah     100.000000        0.000000     0.000000
            Herat      43.750000       31.250000    56.250000
            Kabul      18.421053       81.060606    81.578947
            Kandahar    0.000000       75.000000   100.000000
...                          ...             ...          ...
Zambia      Mansa      75.000000       25.000000    25.000000
Zimbabwe    Bindura    50.000000       75.000000    50.000000
            Bulawayo   67.857143       71.428571    32.142857
            Harare     38.461538       87.500000    61.538462
            Masvingo   25.000000       62.500000    75.000000

[3895 rows x 3 columns]

In [ ]:
df2['Water'] = 100-df2['WaterPollution']

In [ ]:
df2.head()

                      AirQuality  WaterPollution  AirPolution       Water
Country     City
Afghanistan Andkhoy    50.000000       50.000000    50.000000   50.000000
            Farah     100.000000        0.000000     0.000000  100.000000
            Herat      43.750000       31.250000    56.250000   68.750000
            Kabul      18.421053       81.060606    81.578947   18.939394
            Kandahar    0.000000       75.000000   100.000000   25.000000

In [ ]:
df3 = pd.DataFrame(df2.values, index = df2.index, columns=[['AIR','AIR','WATH','WATH'],['AirQuality','AirPolution','WaterPollution','Water']])

In [ ]:
df3 # biz columnslarni irarxik ko'rinishda o'tqazish

                             AIR                       WATH
                      AirQuality AirPolution WaterPollution       Water
Country     City
Afghanistan Andkhoy    50.000000   50.000000      50.000000   50.000000
            Farah     100.000000    0.000000       0.000000  100.000000
            Herat      43.750000   31.250000      56.250000   68.750000
            Kabul      18.421053   81.060606      81.578947   18.939394
            Kandahar    0.000000   75.000000     100.000000   25.000000
...                          ...         ...            ...         ...
Zambia      Mansa      75.000000   25.000000      25.000000   75.000000
Zimbabwe    Bindura    50.000000   75.000000      50.000000   25.000000
            Bulawayo   67.857143   71.428571      32.142857   28.571429
            Harare     38.461538   87.500000      61.538462   12.500000
            Masvingo   25.000000   62.500000      75.000000   37.500000

[3895 rows x 4 columns]

In [ ]:
df3['AIR'] # bunda bizga ma'lumotlarni tushinarli ko'rinishga olib keladi

                      AirQuality  AirPolution
Country     City
Afghanistan Andkhoy    50.000000    50.000000
            Farah     100.000000     0.000000
            Herat      43.750000    31.250000
            Kabul      18.421053    81.060606
            Kandahar    0.000000    75.000000
...                          ...          ...
Zambia      Mansa      75.000000    25.000000
Zimbabwe    Bindura    50.000000    75.000000
            Bulawayo   67.857143    71.428571
            Harare     38.461538    87.500000
            Masvingo   25.000000    62.500000

[3895 rows x 2 columns]

In [ ]:
df3.columns.names = ['object','info']

In [ ]:
df3

object                       AIR                       WATH
info                  AirQuality AirPolution WaterPollution       Water
Country     City
Afghanistan Andkhoy    50.000000   50.000000      50.000000   50.000000
            Farah     100.000000    0.000000       0.000000  100.000000
            Herat      43.750000   31.250000      56.250000   68.750000
            Kabul      18.421053   81.060606      81.578947   18.939394
            Kandahar    0.000000   75.000000     100.000000   25.000000
...                          ...         ...            ...         ...
Zambia      Mansa      75.000000   25.000000      25.000000   75.000000
Zimbabwe    Bindura    50.000000   75.000000      50.000000   25.000000
            Bulawayo   67.857143   71.428571      32.142857   28.571429
            Harare     38.461538   87.500000      61.538462   12.500000
            Masvingo   25.000000   62.500000      75.000000   37.500000

[3895 rows x 4 columns]

In [ ]:
df3.index.names  # indexdagi nomlarini ko'rish

FrozenList(['Country', 'City'])

In [ ]:
df3

object                       AIR                       WATH
info                  AirQuality AirPolution WaterPollution       Water
Country     City
Afghanistan Andkhoy    50.000000   50.000000      50.000000   50.000000
            Farah     100.000000    0.000000       0.000000  100.000000
            Herat      43.750000   31.250000      56.250000   68.750000
            Kabul      18.421053   81.060606      81.578947   18.939394
            Kandahar    0.000000   75.000000     100.000000   25.000000
...                          ...         ...            ...         ...
Zambia      Mansa      75.000000   25.000000      25.000000   75.000000
Zimbabwe    Bindura    50.000000   75.000000      50.000000   25.000000
            Bulawayo   67.857143   71.428571      32.142857   28.571429
            Harare     38.461538   87.500000      61.538462   12.500000
            Masvingo   25.000000   62.500000      75.000000   37.500000

[3895 rows x 4 columns]

# Qayta tartiblash 
##swaplevel() sort_index() haqida

In [ ]:
df3.head()

object                       AIR                       WATH
info                  AirQuality AirPolution WaterPollution       Water
Country     City
Afghanistan Andkhoy    50.000000   50.000000      50.000000   50.000000
            Farah     100.000000    0.000000       0.000000  100.000000
            Herat      43.750000   31.250000      56.250000   68.750000
            Kabul      18.421053   81.060606      81.578947   18.939394
            Kandahar    0.000000   75.000000     100.000000   25.000000

In [ ]:
df3.swaplevel('Country','City') # ierarxik indexlarni o'rnini almashtiradi

object                       AIR                       WATH
info                  AirQuality AirPolution WaterPollution       Water
City     Country
Andkhoy  Afghanistan   50.000000   50.000000      50.000000   50.000000
Farah    Afghanistan  100.000000    0.000000       0.000000  100.000000
Herat    Afghanistan   43.750000   31.250000      56.250000   68.750000
Kabul    Afghanistan   18.421053   81.060606      81.578947   18.939394
Kandahar Afghanistan    0.000000   75.000000     100.000000   25.000000
...                          ...         ...            ...         ...
Mansa    Zambia        75.000000   25.000000      25.000000   75.000000
Bindura  Zimbabwe      50.000000   75.000000      50.000000   25.000000
Bulawayo Zimbabwe      67.857143   71.428571      32.142857   28.571429
Harare   Zimbabwe      38.461538   87.500000      61.538462   12.500000
Masvingo Zimbabwe      25.000000   62.500000      75.000000   37.500000

[3895 rows x 4 columns]

In [ ]:
df3.sort_index(level=0,ascending=False) # bu ierarxik ma'lumotlarimizni teskari tartibda tartiblash

object                       AIR                       WATH
info                  AirQuality AirPolution WaterPollution       Water
Country     City
Zimbabwe    Masvingo   25.000000   62.500000      75.000000   37.500000
            Harare     38.461538   87.500000      61.538462   12.500000
            Bulawayo   67.857143   71.428571      32.142857   28.571429
            Bindura    50.000000   75.000000      50.000000   25.000000
Zambia      Mansa      75.000000   25.000000      25.000000   75.000000
...                          ...         ...            ...         ...
Afghanistan Kandahar    0.000000   75.000000     100.000000   25.000000
            Kabul      18.421053   81.060606      81.578947   18.939394
            Herat      43.750000   31.250000      56.250000   68.750000
            Farah     100.000000    0.000000       0.000000  100.000000
            Andkhoy    50.000000   50.000000      50.000000   50.000000

[3895 rows x 4 columns]

# malumotlar to'plami (sql uslubu)
##merge(), join()

In [ ]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git

Cloning into 'Practicum_Datasets'...
remote: Enumerating objects: 60, done.
remote: Counting objects: 100% (60/60), done.
remote: Compressing objects: 100% (55/55), done.
remote: Total 60 (delta 17), reused 16 (delta 1), pack-reused 0
Unpacking objects: 100% (60/60), done.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('Practicum_Datasets/IMDb/IMDb_movies.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
df1.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,writer,production_company,actors,description,budget
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,Alexander Black,Alexander Black Photoplays,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,NaN
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,Charles Tait,J. and N. Tait,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,$ 2250
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,"Urban Gad, Gebhard Schätzler-Perasini",Fotorama,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,NaN
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,Victorien Sardou,Helen Gardner Picture Players,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,$ 45000
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",Dante Alighieri,Milano Film,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,NaN

In [ ]:
df2 = pd.read_csv('Practicum_Datasets/IMDb/IMDb_ratings.csv')

In [ ]:
df2.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [ ]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 85855 entries, 0 to 85854
Data columns (total 3 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_title_id          85855 non-null  object
 1   weighted_average_vote  85855 non-null  float64
 2   total_votes            85855 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 2.0+ MB

In [ ]:
pd.Series

In [ ]:
movies_reating =pd.merge(df1,df2) # merge() funksiyasi jadvallarni birlashtirish uchun ishlatiladi

In [ ]:
movies_reating.columns

Index(['imdb_title_id', 'title', 'original_title', 'year', 'date_published',
       'genre', 'duration', 'country', 'language', 'director', 'writer',
       'production_company', 'actors', 'description', 'budget',
       'weighted_average_vote', 'total_votes'],
      dtype='object')

In [ ]:
df1.head()

  imdb_title_id  weighted_average_vote  total_votes
0     tt0000009                    5.9          154
1     tt0000574                    6.1          589
2     tt0001892                    5.8          188
3     tt0002101                    5.2          446
4     tt0002130                    7.0         2237

In [ ]:
kesib_olish = movies_reating[ ['title','year', 'weighted_average_vote']]

In [ ]:
kesib_olish

                                title  year  weighted_average_vote
0                          Miss Jerry  1894                    5.9
1         The Story of the Kelly Gang  1906                    6.1
2                      Den sorte drøm  1911                    5.8
3                           Cleopatra  1912                    5.2
4                           L'Inferno  1911                    7.0
...                               ...   ...                    ...
85850                         Le lion  2020                    5.3
85851  De Beentjes van Sint-Hildegard  2020                    7.7
85852       Padmavyuhathile Abhimanyu  2019                    7.9
85853               Sokagin Çocuklari  2019                    6.4
85854      La vida sense la Sara Amat  2019                    6.7

[85855 rows x 3 columns]

In [ ]:
A = pd.DataFrame({'Transport': ['poezd', 'avtomabil', 'kema'], 
                  'Tezligi':['70', '180', '45']})
                  
A

   Transport Tezligi
0      poezd      70
1  avtomabil     180
2       kema      45

In [ ]:
B = pd.DataFrame({'Transport': ['poezd', 'avtomabil', 'tramvay'], 
                  'Narxi':['98000', '10000', '65000']})
                  
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [ ]:
obj = pd.merge(A,B, how='inner') # inner yozmasak ham innerda bo'ladi yani jadvalda faqat ikkila ustunda borlarini oladi

In [ ]:
obj

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000

In [ ]:
merget_aothor  =pd.merge(A,B,how='outer') # outer esa ikkasidagilarni hammasini oladi

In [ ]:
merget_aothor

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2       kema      45    NaN
3    tramvay     NaN  65000

In [ ]:
merget_aothor  =pd.merge(A,B,how='left') # umumiy bo'lmagan A dagi elemetnlarni oladi boshqasini olmaydi

In [ ]:
merget_aothor

   Transport Tezligi  Narxi
0      poezd      70  98000
1  avtomabil     180  10000
2       kema      45    NaN

In [ ]:
A = pd.DataFrame({'Transport_turi': ['poezd', 'avtomabil', 'kema'], 
                  'Tezligi':['70', '180', '45']})
                  
A

  Transport_turi Tezligi
0          poezd      70
1      avtomabil     180
2           kema      45

In [ ]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [ ]:
merg  = pd.merge(A, B, left_on='Transport_turi', right_on='Transport')

In [ ]:
merg

  Transport_turi Tezligi  Transport  Narxi
0          poezd      70      poezd  98000
1      avtomabil     180  avtomabil  10000

In [ ]:
A = A.set_index('Transport_turi')

In [ ]:
A

               Tezligi
Transport_turi
poezd               70
avtomabil          180
kema                45

In [ ]:
B

   Transport  Narxi
0      poezd  98000
1  avtomabil  10000
2    tramvay  65000

In [ ]:
merges = pd.merge(A,B, left_index=True, right_on='Transport')

In [ ]:
merges

  Tezligi  Transport  Narxi
0      70      poezd  98000
1     180  avtomabil  10000

In [ ]:
B = B.set_index('Transport')

In [ ]:
B

           Narxi
Transport
poezd      98000
avtomabil  10000
tramvay    65000

In [ ]:
obj = pd.merge(A,B, left_index=True,right_index=True)

In [ ]:
obj

          Tezligi  Narxi
poezd          70  98000
avtomabil     180  10000

# malumotlarni ulash .concat() (concatination)

In [ ]:
!git clone https://github.com/MansurCompAI/Practicum_Datasets.git

fatal: destination path 'Practicum_Datasets' already exists and is not an empty directory.

In [ ]:
bank  = pd.read_csv('Practicum_Datasets/bank.csv',delimiter=";") # delimiter bu nuqta vergul olib tashlaydi

In [ ]:
bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
bank1, bank2 = bank[:2521], bank[2521:]

In [ ]:
bank1.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [ ]:
pd.concat([bank1,bank2]) # concat() 2 ts datasetni ulash imkonyatini beradi

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
# agar biz 3 ta bo'lakda bo'ladigan bo'lak 
bank1, bank2, bank3 = bank[:1000],bank[1000:2500], bank[2500:]

In [ ]:
bank1

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,38,blue-collar,married,secondary,no,1370,yes,no,cellular,11,may,472,2,-1,0,unknown,no
996,58,management,married,secondary,no,37,no,no,cellular,18,aug,84,11,-1,0,unknown,no
997,34,management,single,tertiary,no,673,yes,yes,cellular,20,nov,271,1,184,1,failure,no
998,40,services,married,secondary,no,-342,yes,no,unknown,26,may,754,1,-1,0,unknown,no
999,20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no

In [ ]:
pd.concat([bank1, bank2, bank3]) # 3 ta datasetni ulash

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,33,services,married,secondary,no,-333,yes,no,cellular,30,jul,329,5,-1,0,unknown,no
4517,57,self-employed,married,tertiary,yes,-3313,yes,yes,unknown,9,may,153,1,-1,0,unknown,no
4518,57,technician,married,secondary,no,295,no,no,cellular,19,aug,151,11,-1,0,unknown,no
4519,28,blue-collar,married,secondary,no,1137,no,no,cellular,6,feb,129,4,211,3,other,no
4520,44,entrepreneur,single,tertiary,no,1136,yes,yes,cellular,3,apr,345,2,249,7,other,no

In [ ]:
pd.concat([bank1, bank2, bank3], axis=1) # columnlar orqali ulash

,age,job,marital,education,default,balance,housing,loan,contact,day,...,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30.0,unemployed,married,primary,no,1787.0,no,no,cellular,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,33.0,services,married,secondary,no,4789.0,yes,yes,cellular,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,35.0,management,single,tertiary,no,1350.0,yes,no,cellular,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30.0,management,married,tertiary,no,1476.0,yes,yes,unknown,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,59.0,blue-collar,married,secondary,no,0.0,yes,no,unknown,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4516,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,30.0,jul,329.0,5.0,-1.0,0.0,unknown,no
4517,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,unknown,9.0,may,153.0,1.0,-1.0,0.0,unknown,no
4518,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,19.0,aug,151.0,11.0,-1.0,0.0,unknown,no
4519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,no,cellular,6.0,feb,129.0,4.0,211.0,3.0,other,no
4520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,yes,cellular,3.0,apr,345.0,2.0,249.0,7.0,other,no

In [ ]:
bank1 = bank1.set_index('age')

In [ ]:
bank1

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,blue-collar,married,secondary,no,1370,yes,no,cellular,11,may,472,2,-1,0,unknown,no
58,management,married,secondary,no,37,no,no,cellular,18,aug,84,11,-1,0,unknown,no
34,management,single,tertiary,no,673,yes,yes,cellular,20,nov,271,1,184,1,failure,no
40,services,married,secondary,no,-342,yes,no,unknown,26,may,754,1,-1,0,unknown,no
20,student,single,secondary,no,291,no,no,telephone,11,may,172,5,371,5,failure,no

In [ ]:
bank2 = bank2.set_index('age')

In [ ]:
bank2

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
34,technician,married,secondary,no,209,yes,yes,cellular,8,apr,375,2,-1,0,unknown,no
31,technician,single,tertiary,no,438,yes,no,cellular,12,aug,130,2,-1,0,unknown,no
39,admin.,single,secondary,no,1242,yes,no,unknown,12,may,303,3,-1,0,unknown,no
34,entrepreneur,married,tertiary,no,355,yes,no,unknown,16,may,261,1,-1,0,unknown,no
24,blue-collar,married,secondary,no,204,yes,yes,cellular,17,apr,229,3,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,self-employed,single,tertiary,no,917,yes,no,unknown,23,may,260,1,-1,0,unknown,no
46,management,single,tertiary,no,593,yes,no,cellular,29,jan,190,3,-1,0,unknown,no
42,blue-collar,married,primary,no,505,yes,no,unknown,14,may,521,2,-1,0,unknown,no
34,blue-collar,married,secondary,no,2542,yes,no,cellular,14,may,228,1,-1,0,unknown,no
37,management,married,tertiary,no,5355,no,no,telephone,17,feb,466,4,-1,0,unknown,yes

In [ ]:
pd.concat([bank1,bank2],axis=1 ) # bu xato beradi

,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
age,,,,,,,,,,,,,,,,
30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,self-employed,single,tertiary,no,917,yes,no,unknown,23,may,260,1,-1,0,unknown,no
46,management,single,tertiary,no,593,yes,no,cellular,29,jan,190,3,-1,0,unknown,no
42,blue-collar,married,primary,no,505,yes,no,unknown,14,may,521,2,-1,0,unknown,no
34,blue-collar,married,secondary,no,2542,yes,no,cellular,14,may,228,1,-1,0,unknown,no
37,management,married,tertiary,no,5355,no,no,telephone,17,feb,466,4,-1,0,unknown,yes

#pivet()

In [125]:
df = pd.read_csv('Practicum_Datasets/data_pivot.csv')

In [126]:
df.head()

                            date     item     value
0  1959-03-31 23:59:59.999999999  realgdp  2710.349
1  1959-03-31 23:59:59.999999999     infl     0.000
2  1959-03-31 23:59:59.999999999    unemp     5.800
3  1959-06-30 23:59:59.999999999  realgdp  2778.801
4  1959-06-30 23:59:59.999999999     infl     2.340

In [123]:
pivet_date = df.pivot('date','item','value')

In [124]:
pivet_date.head()

item                           infl   realgdp  unemp
date
1959-03-31 23:59:59.999999999  0.00  2710.349    5.8
1959-06-30 23:59:59.999999999  2.34  2778.801    5.1
1959-09-30 23:59:59.999999999  2.74  2775.488    5.3
1959-12-31 23:59:59.999999999  0.27  2785.204    5.6
1960-03-31 23:59:59.999999999  2.31  2847.699    5.2

In [129]:
df['value2'] = np.random.randn(len(df))

In [131]:
df

                              date     item      value    value2
0    1959-03-31 23:59:59.999999999  realgdp   2710.349  1.489288
1    1959-03-31 23:59:59.999999999     infl      0.000  0.138634
2    1959-03-31 23:59:59.999999999    unemp      5.800  1.251371
3    1959-06-30 23:59:59.999999999  realgdp   2778.801 -1.861301
4    1959-06-30 23:59:59.999999999     infl      2.340 -0.348238
..                             ...      ...        ...       ...
604  2009-06-30 23:59:59.999999999     infl      3.370  0.612548
605  2009-06-30 23:59:59.999999999    unemp      9.200  0.561241
606  2009-09-30 23:59:59.999999999  realgdp  12990.341 -0.166654
607  2009-09-30 23:59:59.999999999     infl      3.560 -1.573266
608  2009-09-30 23:59:59.999999999    unemp      9.600  0.051945

[609 rows x 4 columns]

In [133]:
pivetdata = df.pivot('date','item')

In [134]:
pivetdata

                              value                     value2            \
item                           infl    realgdp unemp      infl   realgdp
date
1959-03-31 23:59:59.999999999  0.00   2710.349   5.8  0.138634  1.489288
1959-06-30 23:59:59.999999999  2.34   2778.801   5.1 -0.348238 -1.861301
1959-09-30 23:59:59.999999999  2.74   2775.488   5.3  0.720412  0.687195
1959-12-31 23:59:59.999999999  0.27   2785.204   5.6  3.082592 -0.011528
1960-03-31 23:59:59.999999999  2.31   2847.699   5.2  0.170676  0.809661
...                             ...        ...   ...       ...       ...
2008-09-30 23:59:59.999999999 -3.16  13324.600   6.0 -0.246530 -1.167684
2008-12-31 23:59:59.999999999 -8.79  13141.920   6.9  0.004572 -0.018360
2009-03-31 23:59:59.999999999  0.94  12925.410   8.1 -0.460525 -0.621183
2009-06-30 23:59:59.999999999  3.37  12901.504   9.2  0.612548 -0.770474
2009-09-30 23:59:59.999999999  3.56  12990.341   9.6 -1.573266 -0.166654


item                              unemp
date
1959-03-31 23:59:59.999999999  1.251371
1959-06-30 23:59:59.999999999  1.253305
1959-09-30 23:59:59.999999999  1.664714
1959-12-31 23:59:59.999999999  0.394625
1960-03-31 23:59:59.999999999  0.864129
...                                 ...
2008-09-30 23:59:59.999999999  0.718469
2008-12-31 23:59:59.999999999 -0.139293
2009-03-31 23:59:59.999999999 -1.003813
2009-06-30 23:59:59.999999999  0.561241
2009-09-30 23:59:59.999999999  0.051945

[203 rows x 6 columns]

In [137]:
pivetdata['value2'].head(10)

item                               infl   realgdp     unemp
date
1959-03-31 23:59:59.999999999  0.138634  1.489288  1.251371
1959-06-30 23:59:59.999999999 -0.348238 -1.861301  1.253305
1959-09-30 23:59:59.999999999  0.720412  0.687195  1.664714
1959-12-31 23:59:59.999999999  3.082592 -0.011528  0.394625
1960-03-31 23:59:59.999999999  0.170676  0.809661  0.864129
1960-06-30 23:59:59.999999999 -1.624505  0.863506  1.199914
1960-09-30 23:59:59.999999999 -1.627713 -0.098725 -1.404557
1960-12-31 23:59:59.999999999  0.493178 -0.707469 -0.727058
1961-03-31 23:59:59.999999999  0.031931 -1.228673  0.424062
1961-06-30 23:59:59.999999999 -0.985591 -0.803924  1.583633