In [1]:
import numpy as np
import pandas as pd

In [2]:
! git clone https://github.com/anvarnarz/praktikum_datasets.git

Cloning into 'praktikum_datasets'...
remote: Enumerating objects: 139, done.
remote: Counting objects: 100% (139/139), done.
remote: Compressing objects: 100% (123/123), done.
remote: Total 139 (delta 51), reused 100 (delta 15), pack-reused 0
Receiving objects: 100% (139/139), 9.71 MiB | 11.12 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/E-Commerce-Dataset.csv', index_col=0)
df.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
CustomerID,,,,,,,,,,,,,,,,,,,
50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130

# fayllarni o'qish va yozish saqlash

In [ ]:
pd.read_csv('praktikum_datasets/merc.csv')

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0
...,...,...,...,...,...,...,...,...,...
13114,C Class,2020,35999,Automatic,500,Diesel,145,55.4,2.0
13115,B Class,2020,24699,Automatic,2500,Diesel,145,55.4,2.0
13116,GLC Class,2019,30999,Automatic,11612,Diesel,145,41.5,2.1
13117,CLS Class,2019,37990,Automatic,2426,Diesel,145,45.6,2.0
13118,S Class,2019,54999,Automatic,2075,Diesel,145,52.3,2.9

In [ ]:
pd.read_csv('sample_data/california_housing_test.csv').head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
df = pd.read_excel('praktikum_datasets/uzbekistan.xlsx',index_col='hudud',names=['hudud','maydon','aholi'])

In [ ]:
df.head()

                   maydon    aholi
hudud
Andijon viloyati     4200  1899000
Buxoro viloyati     39400  1384700
Fargʻona viloyati    6800  2597000
Jizzax viloyati     20500   910500
Xorazm viloyati      6300  1200000

In [ ]:
df1 = pd.read_csv('praktikum_datasets/automobile_data.csv',index_col='index',nrows=10)

In [ ]:
df1

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970

In [ ]:
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [ ]:
df.to_excel('newuz.xlsx')

In [ ]:
df3  = pd.read_csv('newuz.csv')

In [ ]:
# agar biz dataframe ma'lumotimizni series obyekti sifatida ochadigan bo'lsak squeeze dan foydalanamiz faqat ikki obyekt bo'lishi kerak

In [ ]:
pd.read_csv('newuz.csv')

                            hudud  maydon    aholi
0                Andijon viloyati    4200  1899000
1                 Buxoro viloyati   39400  1384700
2               Fargʻona viloyati    6800  2597000
3                 Jizzax viloyati   20500   910500
4                 Xorazm viloyati    6300  1200000
5               Namangan viloyati    7900  1862000
6                 Navoiy viloyati  110800   767500
7            Qashqadaryo viloyati   28400  2029000
8   Qoraqalpogʻiston Respublikasi  160000  1200000
9              Samarqand viloyati   16400  2322000
10              Sirdaryo viloyati    5100   648100
11           Surxondaryo viloyati   20800  1676000
12              Toshkent viloyati   15300  4450000

In [ ]:
df1.to_excel('car.xlsx') # agar indexni saqlamoqchi bo'lmasak index=False qilamiz

In [ ]:
pd.read_excel('car.xlsx')

,index,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
0,0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
7,9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
8,10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
9,11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970

In [ ]:
df1.to_excel('cars.xlsx', index= False, columns=['company','body-style','horsepower'])

In [ ]:
pd.read_excel('cars.xlsx')

       company   body-style  horsepower
0  alfa-romero  convertible         111
1  alfa-romero  convertible         111
2  alfa-romero    hatchback         154
3         audi        sedan         102
4         audi        sedan         115
5         audi        sedan         110
6         audi        wagon         110
7          bmw        sedan         101
8          bmw        sedan         101
9          bmw        sedan         121

# HDF5 FORMAT

In [4]:
hdfobj = pd.HDFStore('mydata.h5')

In [ ]:
hdfobj.put('uzdata',df)

In [5]:
hdfobj.put('car',df)

In [6]:
hdfobj.keys()

['/car']

In [ ]:
hdfobj['uzdata']

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [ ]:
hdfobj['car']

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [7]:
hdfobj.close()

In [ ]:
 # hdfobj['car']  fayl yopildi

In [ ]:
hdfobj = pd.HDFStore('mydata.h5')

In [ ]:
hdfobj.keys()

['/car', '/uzdata']

In [ ]:
hdfobj['car']

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450
5,audi,sedan,99.8,177.3,ohc,five,110,19,15250
6,audi,wagon,105.8,192.7,ohc,five,110,19,18920
9,bmw,sedan,101.2,176.8,ohc,four,101,23,16430
10,bmw,sedan,101.2,176.8,ohc,four,101,23,16925
11,bmw,sedan,101.2,176.8,ohc,six,121,21,20970

In [ ]:
df

                               maydon    aholi
hudud
Andijon viloyati                 4200  1899000
Buxoro viloyati                 39400  1384700
Fargʻona viloyati                6800  2597000
Jizzax viloyati                 20500   910500
Xorazm viloyati                  6300  1200000
Namangan viloyati                7900  1862000
Navoiy viloyati                110800   767500
Qashqadaryo viloyati            28400  2029000
Qoraqalpogʻiston Respublikasi  160000  1200000
Samarqand viloyati              16400  2322000
Sirdaryo viloyati                5100   648100
Surxondaryo viloyati            20800  1676000
Toshkent viloyati               15300  4450000

In [ ]:
df.to_hdf('hdfdata.h5', key='uzdata')

# Web sahifalardan o'qish

In [20]:
toshkent  = pd.read_html('https://en.wikipedia.org/wiki/Tashkent')

In [ ]:
len(toshkent)

17

In [11]:
malumot = toshkent[9]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [14]:
malumot.drop(columns='Map', inplace=True) # columns o'chirib tashlash

In [18]:
malumot

,Nr,District,Population (2021)[1],Area (km2)[64][63],Density (area/km2)
0,1,Bektemir,31400,17.83,1761
1,2,Chilanzar,260700,29.94,8707
2,3,Yashnobod,258800,33.70,7680
3,4,Mirobod,142800,17.10,8351
4,5,Mirzo Ulugbek,285000,35.15,8108
5,6,Sergeli,105700,37.36,2829
6,7,Shayxontoxur,348300,29.70,11727
7,8,Olmazor,377100,34.50,10930
8,9,Uchtepa,278200,24.00,11592
9,10,Yakkasaray,121600,14.60,8329
10,11,Yunusabad,352000,40.60,8670
11,12,Yangihayot,132800,44.20,3005

# Json api dan o'qish

In [21]:
 pd.read_json('sample_data/anscombe.json').head() # json ma'lumotlarni ochish

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

In [22]:
import requests
r = requests.get('https://openlibrary.org/subjects/python.json')

In [23]:
r.status_code

200

In [ ]:
 # r.json()['works']

In [24]:
pd.DataFrame(r.json()['works']).head(2)

,key,title,edition_count,cover_id,cover_edition_key,subject,ia_collection,lendinglibrary,printdisabled,lending_edition,lending_identifier,authors,first_publish_year,ia,public_scan,has_fulltext,availability
0,/works/OL2784125W,Learning Python,20,1312568,OL9497269M,"[Python (Langage de programmation), Python (li...","[americana, inlibrary, internetarchivebooks, l...",False,True,OL6804857M,learningpython00lutz,"[{'key': '/authors/OL411267A', 'name': 'Mark L...",None,learningpython00lutz,False,True,"{'status': 'borrow_available', 'available_to_b..."
1,/works/OL5841511W,The book of Python,5,1984278,OL3418053M,"[Python (Computer program language), Programmi...",[],False,False,,,"[{'key': '/authors/OL1432809A', 'name': 'John ...",None,None,False,False,NaN

In [ ]:

import requests
r =requests.get('https://cat-fact.herokuapp.com/facts/')

In [ ]:
r.status_code

200

# sqlite3 omboriga ulanish

In [25]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [26]:
!wget # faylni url manzilini qoyamiz va u yuklaydi

wget: missing URL
Usage: wget [OPTION]... [URL]...

Try `wget --help' for more options.

In [ ]:
# !unzip komandasi zip faylni ochadi

In [ ]:
# https://jovian.ai/anvarnarz/03-datawrangle-03-sql/v/1?utm_source=embed

In [27]:
url = "https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip"

In [28]:
! wget https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip

--2022-07-20 07:36:08--  https://www.sqlitetutorial.net/wp-content/uploads/2018/03/chinook.zip
Resolving www.sqlitetutorial.net (www.sqlitetutorial.net)... 151.139.128.11
Connecting to www.sqlitetutorial.net (www.sqlitetutorial.net)|151.139.128.11|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 305596 (298K) [application/zip]
Saving to: ‘chinook.zip’

chinook.zip         100%[===================>] 298.43K  --.-KB/s    in 0.05s

2022-07-20 07:36:08 (5.74 MB/s) - ‘chinook.zip’ saved [305596/305596]

In [29]:
! unzip chinook.zip

Archive:  chinook.zip
  inflating: chinook.db

In [30]:
db = sql.connect('chinook.db')
cursor = db.cursor()

In [31]:
cursor.execute("SELECT name from sqlite_master where type='table';")
cursor.fetchall()

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

In [32]:
cursor.execute("select count(*) from customers;")
cursor.fetchall()

[(59,)]

In [33]:
cursor.execute("select * from customers;")
cursor.fetchone()

(1,
 'Luís',
 'Gonçalves',
 'Embraer - Empresa Brasileira de Aeronáutica S.A.',
 'Av. Brigadeiro Faria Lima, 2170',
 'São José dos Campos',
 'SP',
 'Brazil',
 '12227-000',
 '+55 (12) 3923-5555',
 '+55 (12) 3923-5566',
 'luisg@embraer.com.br',
 3)

# jadvalni o'qish

In [ ]:
 # df = pd.read_sql("select * from customers;", db)

In [34]:
df.head()

,Churn,Tenure,PreferredLoginDevice,CityTier,WarehouseToHome,PreferredPaymentMode,Gender,HourSpendOnApp,NumberOfDeviceRegistered,PreferedOrderCat,SatisfactionScore,MaritalStatus,NumberOfAddress,Complain,OrderAmountHikeFromlastYear,CouponUsed,OrderCount,DaySinceLastOrder,CashbackAmount
CustomerID,,,,,,,,,,,,,,,,,,,
50001,1,4.0,Mobile Phone,3,6.0,Debit Card,Female,3.0,3,Laptop & Accessory,2,Single,9,1,11.0,1.0,1.0,5.0,160
50002,1,NaN,Phone,1,8.0,UPI,Male,3.0,4,Mobile,3,Single,7,1,15.0,0.0,1.0,0.0,121
50003,1,NaN,Phone,1,30.0,Debit Card,Male,2.0,4,Mobile,3,Single,6,1,14.0,0.0,1.0,3.0,120
50004,1,0.0,Phone,3,15.0,Debit Card,Male,2.0,4,Laptop & Accessory,5,Single,8,0,23.0,0.0,1.0,3.0,134
50005,1,0.0,Phone,1,12.0,CC,Male,NaN,3,Mobile,5,Single,3,0,11.0,1.0,1.0,3.0,130

In [ ]:
#df = pd.read_sql("select CustomerId	,FirstName, LastName	 from customers ;", db, index_col='CustomerId')

In [ ]:
df.head(10)

            FirstName     LastName
CustomerId
1                Luís    Gonçalves
2              Leonie       Köhler
3            François     Tremblay
4               Bjørn       Hansen
5           František  Wichterlová
6              Helena         Holý
7              Astrid       Gruber
8                Daan      Peeters
9                Kara      Nielsen
10            Eduardo      Martins

In [ ]:
#df = pd.read_sql("select CustomerId	,FirstName, LastName	 from customers limit 5;", db, index_col='CustomerId')

In [ ]:
df # agar biz limitni ishlatsak limit 5 yossak 5 ta qatorni olib beradi

            FirstName     LastName
CustomerId
1                Luís    Gonçalves
2              Leonie       Köhler
3            François     Tremblay
4               Bjørn       Hansen
5           František  Wichterlová

In [ ]:
cursor.execute("SELECT name from sqlite_master where type='table';")
cursor.fetchall()

[('elekt',)]

In [ ]:
#df1 = pd.read_sql("select * from genres limit 10", db, index_col='GenreId')

In [ ]:
qury = "select CustomerId	,FirstName, LastName	 from customers order by FirstName;"
df = pd.read_sql(qury, db, index_col='CustomerId')

In [ ]:
df.head(10)

            FirstName   LastName
CustomerId
32              Aaron   Mitchell
11          Alexandre      Rocha
7              Astrid     Gruber
4               Bjørn     Hansen
39            Camille    Bernard
8                Daan    Peeters
20                Dan     Miller
56              Diego  Gutiérrez
40          Dominique   Lefebvre
10            Eduardo    Martins

In [ ]:
query = "select distinct country from customers ;"
#df = pd.read_sql(qury, db)  
cursor.execute(query)
cursor.fetchall()

[('Brazil',),
 ('Germany',),
 ('Canada',),
 ('Norway',),
 ('Czech Republic',),
 ('Austria',),
 ('Belgium',),
 ('Denmark',),
 ('USA',),
 ('Portugal',),
 ('France',),
 ('Finland',),
 ('Hungary',),
 ('Ireland',),
 ('Italy',),
 ('Netherlands',),
 ('Poland',),
 ('Spain',),
 ('Sweden',),
 ('United Kingdom',),
 ('Australia',),
 ('Argentina',),
 ('Chile',),
 ('India',)]

In [35]:
query = "select * from customers WHERE 	Country='Brazil'order by FirstName;"
df = pd.read_sql(query, db )
df.head()

,CustomerId,FirstName,LastName,Company,Address,City,State,Country,PostalCode,Phone,Fax,Email,SupportRepId
0,11,Alexandre,Rocha,Banco do Brasil S.A.,"Av. Paulista, 2022",São Paulo,SP,Brazil,01310-200,+55 (11) 3055-3278,+55 (11) 3055-8131,alero@uol.com.br,5
1,10,Eduardo,Martins,Woodstock Discos,"Rua Dr. Falcão Filho, 155",São Paulo,SP,Brazil,01007-010,+55 (11) 3033-5446,+55 (11) 3033-4564,eduardo@woodstock.com.br,4
2,13,Fernanda,Ramos,None,Qe 7 Bloco G,Brasília,DF,Brazil,71020-677,+55 (61) 3363-5547,+55 (61) 3363-7855,fernadaramos4@uol.com.br,4
3,1,Luís,Gonçalves,Embraer - Empresa Brasileira de Aeronáutica S.A.,"Av. Brigadeiro Faria Lima, 2170",São José dos Campos,SP,Brazil,12227-000,+55 (12) 3923-5555,+55 (12) 3923-5566,luisg@embraer.com.br,3
4,12,Roberto,Almeida,Riotur,"Praça Pio X, 119",Rio de Janeiro,RJ,Brazil,20040-020,+55 (21) 2271-7000,+55 (21) 2271-7070,roberto.almeida@riotur.gov.br,3

In [ ]:
# https://jovian.ai/anvarnarz/03-datawrangle-03-sql/v/1?utm_source=embed
# bu dars oxiradagi o'tilgan mavzullar

In [36]:
!pip install psycopg2-binary
import psycopg2 as psql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 4.3 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [ ]:
!pip install psycopg2-binary
import psycopg2 as psql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting psycopg2-binary
  Downloading psycopg2_binary-2.9.3-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (3.0 MB)
     |████████████████████████████████| 3.0 MB 4.5 MB/s
Installing collected packages: psycopg2-binary
Successfully installed psycopg2-binary-2.9.3

In [ ]:
# pdb = psql.connect(
#     host = "localhost",
#     database = "postgres",
#     user = "postgres",
#     password = "PAROLINGIZ"
# )
# cursor = pdb.cursor()
# cursor.execute("SELECT version()")
# print(cursor.fetchone())

In [37]:
import sqlalchemy as sa

engine = sa.create_engine('postgresql://postgres:your_password@localhost:5438/postgres')

# Dataframe sql jadvallariga o'tqazish

In [38]:
db.close() # bu sqlite malumotlar ombori bilan ishlash yopdik

In [39]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [40]:
db = sql.connect('newdb.db')
cursor = db.cursor()

In [44]:
! git clone https://github.com/anvarnarz/praktikum_datasets.git

fatal: destination path 'praktikum_datasets' already exists and is not an empty directory.

In [46]:
#df = pd.read_csv('Electricity_Production_By_Source.csv')

In [ ]:
df.head()

,Entity,Code,Year,Electricity from coal (TWh),Electricity from gas (TWh),Electricity from hydro (TWh),Electricity from other renewables (TWh),Electricity from solar (TWh),Electricity from oil (TWh),Electricity from wind (TWh),Electricity from nuclear (TWh)
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [ ]:
cols = ['Entity','Code','Year','coal','gas','hydro','renewables','solar','oil','wind','nuclear']

In [42]:
#df.columns = cols

NameError: ignored

In [ ]:
df.head()

,Entity,Code,Year,coal,gas,hydro,renewables,solar,oil,wind,nuclear
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

In [ ]:
df.to_sql('elekt',db)

In [ ]:
cursor.execute("select name from sqlite_master where type='table';") #jadvallar ro'yxatini ko'ramiz 
cursor.fetchall()

[('elekt',)]

In [ ]:
cursor.execute("select * from elekt limit 10")
cursor.fetchall()

[(0, 'Afghanistan', 'AFG', 2000, 0.0, 0.155, 0.312, 0.0, 0.0, 0.0, 0.0, 0.0),
 (1, 'Afghanistan', 'AFG', 2001, 0.0, 0.094, 0.498, 0.0, 0.0, 0.0, 0.0, 0.0),
 (2, 'Afghanistan', 'AFG', 2002, 0.0, 0.132, 0.555, 0.0, 0.0, 0.0, 0.0, 0.0),
 (3, 'Afghanistan', 'AFG', 2003, 0.0, 0.309, 0.63, 0.0, 0.0, 0.0, 0.0, 0.0),
 (4, 'Afghanistan', 'AFG', 2004, 0.0, 0.329, 0.565, 0.0, 0.0, 0.0, 0.0, 0.0),
 (5, 'Afghanistan', 'AFG', 2005, 0.0, 0.344, 0.59, 0.0, 0.0, 0.0, 0.0, 0.0),
 (6, 'Afghanistan', 'AFG', 2006, 0.0, 0.2, 0.637, 0.0, 0.0, 0.0, 0.0, 0.0),
 (7, 'Afghanistan', 'AFG', 2007, 0.0, 0.198, 0.748, 0.0, 0.0, 0.0, 0.0, 0.0),
 (8, 'Afghanistan', 'AFG', 2008, 0.0, 0.186, 0.542, 0.0, 0.0, 0.0, 1e-05, 0.0),
 (9,
  'Afghanistan',
  'AFG',
  2009,
  0.0,
  0.162,
  0.776,
  0.0,
  0.0,
  0.0,
  0.0001,
  0.0)]

In [ ]:
query ="select * from elekt limit 5"
pd.read_sql(query, db)

,index,Entity,Code,Year,coal,gas,hydro,renewables,solar,oil,wind,nuclear
0,0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.0,0.0
1,1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.0,0.0
2,2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.0,0.0
3,3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.0,0.0
4,4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.0,0.0

# jadvalni yaratish va unga ma'lumot qo'shish

In [ ]:
query = """
create table if not exists worldpop(
  rank int,
  county text primart key,
  density duoble,
  population int not null,
  area int not null
);
"""
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("select name from sqlite_master where type='table'")
cursor.fetchall()

[('worldpop',)]

In [ ]:
cursor.execute("pragma table_info(worldpop)")
cursor.fetchall()

SyntaxError: ignored

In [ ]:
query = "insert into worldpop values(1,'uzbekistan',21212,554,43)"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("select * from worldpop")
cursor.fetchall()

[(1, 'uzbekistan', 21212, 554, 43),
 (1, 'uzbekistan', 21212, 554, 43),
 (1, 'uzbekistan', 21212, 554, 43),
 (1, 'uzbekistan', 21212, 554, 43),
 (1, 'uzbekistan', 21212, 554, 43)]

In [ ]:
df = pd.read_sql("select * from worldpop;", db)

In [ ]:
df

   rank      county  density  population  area
0     1  uzbekistan    21212         554    43
1     1  uzbekistan    21212         554    43
2     1  uzbekistan    21212         554    43
3     1  uzbekistan    21212         554    43
4     1  uzbekistan    21212         554    43

# sql jadvallarini yangilash va o'chirish

In [ ]:
query =  "update worldpop set rank=2, county='Bukhara' where area = 43"
cursor.execute(query)
cursor.fetchall()

[]

In [ ]:
cursor.execute("select * from worldpop")
cursor.fetchall()

[(2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43)]

In [ ]:
query = "insert into worldpop values(1,'Toshkent',21,554,49)"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("select * from worldpop")
cursor.fetchall()

[(2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (1, 'Toshkent', 21, 554, 49)]

In [ ]:
query =  "update worldpop set rank=11, county='Samarqand' where area = 49"
cursor.execute(query)

[]

In [ ]:
cursor.execute("select * from worldpop")
cursor.fetchall()

[(2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (11, 'Samarqand', 21, 554, 49)]

In [ ]:
query =  "delete from worldpop where area = 49"
cursor.execute(query)
db.commit()

In [ ]:
cursor.execute("select * from worldpop")
cursor.fetchall()

[(2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43),
 (2, 'Bukhara', 21212, 554, 43)]

In [ ]:
df = pd.read_csv("praktikum_datasets/uzbekistan.csv")

In [ ]:
uz = df.iloc[0]

In [ ]:
uz.index_values()

AttributeError: ignored

In [ ]:
 name = uz.values

In [ ]:
name

array(['Andijon viloyati', 4200.0, 1899000.0], dtype=object)

# QO'shimcha kamandalar

In [ ]:
import pandas as pd
import sqlite3 as sql
from pprint import pprint as print

In [ ]:
!git clone https://github.com/anvarnarz/praktikum_datasets.git

Cloning into 'praktikum_datasets'...
remote: Enumerating objects: 139, done.
remote: Counting objects: 100% (139/139), done.
remote: Compressing objects: 100% (123/123), done.
remote: Total 139 (delta 51), reused 100 (delta 15), pack-reused 0
Receiving objects: 100% (139/139), 9.71 MiB | 19.04 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [ ]:
df = pd.read_csv('gm_sales.csv')

In [ ]:
df.head()

  Unnamed: 0   2020   2021
0       Labo   4521   7542
1      Damas  30889  33682
2      Spark  16370   6485
3      Nexia  41663  14442
4     Cobalt  44901  36317

In [ ]:
from urllib.request import urlretrieve
url = "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"
urlretrieve(url,'electricity.db') # faylni yuklab olish

('electricity.db', <http.client.HTTPMessage at 0x7fd9d75c72d0>)

In [ ]:
db =sql.connect("electricity.db")
cursor = db.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
print(cursor.fetchall())

[('elect',)]

In [ ]:
cursor.execute("PRAGMA table_info(elect);")
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [ ]:
pd.read_sql("SELECT * FROM elect LIMIT 10", db, index_col="index")

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
index,,,,,,,,,,,
0,Afghanistan,AFG,2000,0.0,0.155,0.312,0.0,0.0,0.0,0.00000,0.0
1,Afghanistan,AFG,2001,0.0,0.094,0.498,0.0,0.0,0.0,0.00000,0.0
2,Afghanistan,AFG,2002,0.0,0.132,0.555,0.0,0.0,0.0,0.00000,0.0
3,Afghanistan,AFG,2003,0.0,0.309,0.630,0.0,0.0,0.0,0.00000,0.0
4,Afghanistan,AFG,2004,0.0,0.329,0.565,0.0,0.0,0.0,0.00000,0.0
5,Afghanistan,AFG,2005,0.0,0.344,0.590,0.0,0.0,0.0,0.00000,0.0
6,Afghanistan,AFG,2006,0.0,0.200,0.637,0.0,0.0,0.0,0.00000,0.0
7,Afghanistan,AFG,2007,0.0,0.198,0.748,0.0,0.0,0.0,0.00000,0.0
8,Afghanistan,AFG,2008,0.0,0.186,0.542,0.0,0.0,0.0,0.00001,0.0
9,Afghanistan,AFG,2009,0.0,0.162,0.776,0.0,0.0,0.0,0.00010,0.0

In [ ]:
query = "SELECT DISTINCT country FROM elect"
countries = pd.read_sql(query, db)
countries.head(10)

               country
0          Afghanistan
1               Africa
2              Albania
3              Algeria
4       American Samoa
5               Angola
6           Antarctica
7  Antigua and Barbuda
8            Argentina
9              Armenia

In [ ]:
'Uzbekistan' in countries['country'].values

True

In [ ]:
query = "SELECT * FROM elect WHERE country='Uzbekistan'"
dfuz = pd.read_sql(query,db)
dfuz.head()

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5964,Uzbekistan,UZB,2000,11.602405,25.523451,5.817,0.0,0.0,1.380143,0.0,0.0
1,5965,Uzbekistan,UZB,2001,11.766320,25.884038,5.899,0.0,0.0,1.399642,0.0,0.0
2,5966,Uzbekistan,UZB,2002,12.214374,26.869686,6.124,0.0,0.0,1.452939,0.0,0.0
3,5967,Uzbekistan,UZB,2003,11.833513,26.031852,7.544,0.0,0.0,1.407634,0.0,0.0
4,5968,Uzbekistan,UZB,2004,11.595776,25.508869,8.920,0.0,0.0,1.379355,0.0,0.0

In [ ]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year>2010"
dfuz = pd.read_sql(query,db)
dfuz

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5975,Uzbekistan,UZB,2011,10.534094,32.487781,5.646000,0.0,0.000000,1.253064,0.0,0.0
1,5976,Uzbekistan,UZB,2012,10.365016,31.966333,6.586000,0.0,0.000000,1.232952,0.0,0.0
2,5977,Uzbekistan,UZB,2013,10.939346,33.737603,5.647000,0.0,0.001996,1.301270,0.0,0.0
3,5978,Uzbekistan,UZB,2014,11.112674,34.272157,6.014000,0.0,0.002046,1.321888,0.0,0.0
4,5979,Uzbekistan,UZB,2015,10.519789,35.780629,6.998000,0.0,0.002176,1.251363,0.0,0.0
5,5980,Uzbekistan,UZB,2016,10.783891,36.678911,7.254000,0.0,0.004643,1.282778,0.0,0.0
6,5981,Uzbekistan,UZB,2017,10.998707,37.409561,8.343000,0.0,0.006290,1.308332,0.0,0.0
7,5982,Uzbekistan,UZB,2018,11.853192,40.315893,5.838030,0.0,0.006827,1.409975,0.0,0.0
8,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0

In [ ]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year BETWEEN 2010 AND 2021"
pd.read_sql(query, db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5974,Uzbekistan,UZB,2010,9.792027,30.199200,8.110000,0.0,0.000000,1.164793,0.0,0.0
1,5975,Uzbekistan,UZB,2011,10.534094,32.487781,5.646000,0.0,0.000000,1.253064,0.0,0.0
2,5976,Uzbekistan,UZB,2012,10.365016,31.966333,6.586000,0.0,0.000000,1.232952,0.0,0.0
3,5977,Uzbekistan,UZB,2013,10.939346,33.737603,5.647000,0.0,0.001996,1.301270,0.0,0.0
4,5978,Uzbekistan,UZB,2014,11.112674,34.272157,6.014000,0.0,0.002046,1.321888,0.0,0.0
5,5979,Uzbekistan,UZB,2015,10.519789,35.780629,6.998000,0.0,0.002176,1.251363,0.0,0.0
6,5980,Uzbekistan,UZB,2016,10.783891,36.678911,7.254000,0.0,0.004643,1.282778,0.0,0.0
7,5981,Uzbekistan,UZB,2017,10.998707,37.409561,8.343000,0.0,0.006290,1.308332,0.0,0.0
8,5982,Uzbekistan,UZB,2018,11.853192,40.315893,5.838030,0.0,0.006827,1.409975,0.0,0.0
9,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0

In [ ]:
query = "SELECT * FROM elect WHERE country='Uzbekistan' AND year IN (1990,1995,2000,2005,2010)"
pd.read_sql(query, db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5964,Uzbekistan,UZB,2000,11.602405,25.523451,5.817,0.0,0.0,1.380143,0.0,0.0
1,5969,Uzbekistan,UZB,2005,11.490919,25.278199,8.838,0.0,0.0,1.366882,0.0,0.0
2,5974,Uzbekistan,UZB,2010,9.792027,30.199200,8.110,0.0,0.0,1.164793,0.0,0.0
3,5989,Uzbekistan,UZB,1990,NaN,NaN,6.648,0.0,0.0,NaN,0.0,0.0
4,5994,Uzbekistan,UZB,1995,NaN,NaN,6.188,0.0,0.0,NaN,0.0,0.0

In [ ]:
query = "SELECT * FROM elect WHERE country LIKE '%stan' AND year IN (2019, 2020, 2021)"
pd.read_sql(query, db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,19,Afghanistan,AFG,2019,0.000000,0.152000,0.840000,0.000000,0.040000,0.000000,0.000000,0.000000
1,2847,Kazakhstan,KAZ,2019,71.206910,18.960820,9.842580,0.001000,0.236000,0.755650,0.549000,0.000000
2,2848,Kazakhstan,KAZ,2020,72.193448,19.223513,9.403480,0.002900,1.077300,0.755650,0.941200,0.000000
3,2963,Kyrgyzstan,KGZ,2019,1.056225,0.000000,13.705560,0.000000,0.000000,0.078355,0.000000,0.000000
4,4303,Pakistan,PAK,2019,24.827532,24.776677,43.146492,2.659467,1.031600,35.551972,3.608753,9.783445
5,4304,Pakistan,PAK,2020,29.319484,17.517486,47.296196,2.675689,1.030267,34.513517,3.190669,9.909005
6,5495,Tajikistan,TJK,2019,0.000000,0.000000,18.977310,0.000000,0.000000,1.416580,0.000000,0.000000
7,5496,Tajikistan,TJK,2020,0.000000,0.000000,18.489310,0.000000,0.000000,1.416580,0.000000,0.000000
8,5704,Turkmenistan,TKM,2019,0.000000,7.230340,0.000300,0.000000,0.000000,13.951674,0.000000,0.000000
9,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.000000,0.006827,1.462846,0.000000,0.000000

In [ ]:
query = "SELECT * FROM elect WHERE code LIKE 'A__' AND year=2020"
pd.read_sql(query, db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,225,Argentina,ARG,2020,1.445719,86.689660,20.853642,1.893496,1.344267,3.492022,9.419758,10.010408
1,336,Australia,AUS,2020,135.099330,48.132519,16.112890,3.443160,18.638820,5.612541,24.308719,0.000000
2,357,Austria,AUT,2020,0.716660,10.440827,42.883119,4.068629,1.264996,3.249908,6.868170,0.000000
3,393,Azerbaijan,AZE,2020,0.000000,12.514432,1.549350,0.155333,0.044000,11.379848,0.135000,0.000000

In [ ]:
db.close()